:root{
    --light-bg:#f0f0f0;
    --dark-bg:#0f0f0f;
    --light-cf:#0f0f0f;
    --dark-cf:#f0f0f0;
    --link-color:#0051ff;
    --font-family:'Open Sans', sans-serif;
    --fsp:0.9em;
}
body{
    margin: 0;
}
a{
    color:var(--link-color);
    font-weight:bold;
    text-decoration:none;
}
.app-logo{
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 5% 0 20px;
    gap: 10px;
}
.app-logo span{
    font-family:var(--font-family);
    font-size:1.5em;
    color:var(--light-cf);
    font-weight: bold;
}
.signup-container{
    display:flex;
    align-items:center;
    justify-content:center;
}
.signup-form{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border:1px solid var(--dark-bg);
    padding:1px 10px;
    box-shadow:20px 20px #0f0f0f;
}
h1{
    text-align:center;
    font-family:var(--font-family);
    margin-bottom:20px;
    margin-top:0;
}
.form-textarea,.form-input{
    width:300px;
    border:1px solid var(--dark-bg);
    background-color:#ffffff3b;
    margin-bottom:15px;
    color:var(--dark-bg);
    font-family:var(--font-family);
    padding:8px 16px
}
.form-textarea{
    height:80px;
    resize:none;
}
input::placeholder,
textarea::placeholder{
    color:var(--light-cf) !important;
    font-size:1.2em;
}
.button{
    width: 67%;
}
button.form-button{
    background:var(--dark-bg);
    color:var(--dark-cf);
    padding:8px 16px;
    border:none;
    cursor:pointer;
    border:1px solid var(--dark-bg);
    width:100%;
    font-family:var(--font-family);
    font-size:1em;
    transition:all 0.4s ease;
}
button.form-button:hover{
    color:var(--light-cf);
    background:#fff;
    box-shadow:5px 5px #0f0f0f;
    transition:all 0.1s ease;
}
button.form-button:active{
    background:var(--dark-bg);
    color:var(--dark-cf);
    box-shadow:0px 0px;
}
p{
    margin-top:20px;
    text-align:center;
    font-family:var(--font-family);
    font-size: var(--fsp);
}
.circle-icons{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.ci-top{
    top: 10px;
    margin-bottom: 20px;
}
.ci-bottom{
    margin-top: 20px;
    bottom: 10px;
}
.ci-top,.ci-bottom{
    width: 500px;
}
@media screen and (max-width:440px){
    .signup-form{
        border: none;
        box-shadow: none;
        margin-top: 0;
    }
    .circle-icons{
        display: none;
    }
    .button{
        width: 100%;
    }
    .log{
        margin-top: 15vh;
    }
}
@media screen and (max-width:884px){
    .signup-form{
        margin-top: 10vh;
    }
}